---
permalink: /
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/styles.css">
    <link rel="stylesheet" href="./assets/normalize.css">
    <link rel="shortcut icon" href="./assets/provider-db-logo.svg" type="image/x-icon">
    <title>Provider Overview</title>
</head>

<body>
    <h1>Provider Database</h1>
	
    <h2>Does my Provider work with Delta Chat?</h2>

    <div>
        <div class="search-box-container">
           <input type="search" id="search" value="Enable scripts to Enable Searching" placeholder="Search:" disabled>
           <script>document.getElementById("search").value = ""</script> 
        </div>
        <input type="checkbox" name="noPreperation" id="noPreperation" disabled>
        <label for="noPreperation"> No Preparation needed</label>
    </div>
    <main>
        <p>this is where the main text foo should be</p> <br>

        <p>
            <b>DISCLAIMER: </b>
            We don't take responsibility for the information here provided.
            If it is incorrect, please report it on the <a href="https://github.com/deltachat/provider-db/issues" target="_blank">github issue page</a>.
            We apreciate pull requests as well :)
        </p>
    </main>
    <div class="table">
    <table>
        <thead>
        <tr>
            <th>
                Status
            </th>
            <th>
                Name
            </th>
            <th>
                Domain/s
            </th>
        </tr>
        </thead>
        <tbody id="provider_list">
        {% for provider in site.providers %}

        <tr 
            data-searchkey="{{provider.name}} {{provider.domains | join: ' '}}" 
            data-state="{{ provider.status.state }}"
            >
            <td class="status-{{ provider.status.state | downcase }}">
                    <span class="status">
                        {% case provider.status.state %}
                        {% when 'OK' %}
                        OK
                        {% when 'PREP' %}
                        <a href=".{{provider.url}}#preperations">PREPARATIONS</a>
                        {% when 'BROKEN' %}
                        NOT WORKING
                        {% endcase %}
                    </span>
            </td>
            <td><a href=".{{provider.url}}">{{provider.name}}</a></td>
            <td>
                {% unless provider.domains.first %}
                    {{provider.domains}}
                {% else %}
                    {% if provider.domains.size > 3 %}
                        <details>
                        <summary>show all ({{ provider.domains.size }}) </summary>
                        {% for domain in provider.domains%}
                        - {{domain}}<br>
                        {% endfor %}
                        </details>
                    {% else %}
                        {% for domain in provider.domains%}
                        - {{domain}}<br>
                        {% endfor %}
                    {% endif %}
                {% endunless %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>



    <script src="./assets/search.js"></script>

</body>

</html>
