---
permalink: /new
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/normalize.css">
    <link rel="stylesheet" href="./assets/styles.css">
    <title>Provider Overview</title>
</head>

<body>
    <h1>Mail Provider Database</h1>

    <div class="search-box-container">
       Search: <input type="search" id="search" value="Enable scripts to Enable Searching" disabled>
       <script>document.getElementById("search").value = ""</script> 
    </div>

    <table>
        <thead>
        <tr>
            <th></th>
            <th colspan="3" scope="colgroup">Information</th>
            <th colspan="4" scope="colgroup">Registration</th>
        </tr>
        <tr>
            <th>
                Name
            </th>
            <th>
                Invite needed
            </th>
            <th>
                Collects Personal Data
            </th>
            <th title="Phone Auth - If you need to give them your Phonenumber to register">
                📞
            </th>
            <th title="How much it costs">
                💰
            </th>
        </tr>
        </thead>
        <tbody id="provider_list">
        {% for provider in site.providers %}
	{% if provider.status.state == 'OK' %}

        <tr data-searchkey="{{provider.name}}">
            <td>
                {% unless provider.credentials.first %}
                {% include authentication.html auth=provider.credentials %}
                {%else%}
                {% for auth in provider.credentials %}
                - {% include authentication.html auth=auth %}<br>
                {% endfor%}
                {% endunless%}
            </td>
            <td class="center">
                {%unless provider.registration.inviteOnly != nill %}
                <span title="{{site.data.strings.NoData}}">
                    ?
                </span>
                {%else%}
                    {%if provider.registration.inviteOnly%}
                    Yes
                    {%else%}
                    No
                    {%endif%}
                {%endunless%}
            </td>
            <td class="center">
                    {%unless provider.registration.PersonalDataRequired != nill %}
                    <span title="{{site.data.strings.NoData}}">
                        ?
                    </span>
                    {%else%}
                        {%if provider.registration.PersonalDataRequired%}
                        Yes
                        {%else%}
                        No
                        {%endif%}
                    {%endunless%}
            </td>
            <td  class="center">
                    {%unless provider.registration.PhoneAuthRequired != nill %}
                    <span title="{{site.data.strings.NoData}}">
                        ?
                    </span>
                    {%else%}
                        {%if provider.registration.PhoneAuthRequired%}
                        Yes
                        {%else%}
                        No
                        {%endif%}
                    {%endunless%}
            </td>
            <td class="center">
                    {%unless provider.registration.price != nill %}
                    <span title="{{site.data.strings.NoData}}">
                        ?
                    </span>
                    {%else%}
                        {{provider.registration.price}}
                    {%endunless%}
            </td>
        </tr>
	{% endif %}
        {% endfor %}
        </tbody>
    </table>

    <p>
        <b>DISCLAIMER: </b>
        We don't take responsibility for this information.
        If it is incorrect please report it on the <a href="https://github.com/deltachat/provider-db/issues" target="_blank">github issue page</a>.
        We really apreciate pull requests which directly update the information :)
    </p>

    <script src="./assets/search.js"></script>

</body>

</html>
