---
name: testrun.org
status: OK
domains:
- testrun.org
server:
- type: imap
  hostname: testrun.org
  port: 993
  socket: SSL
- type: imap
  hostname: testrun.org
  port: 143
  socket: STARTTLS
- type: smtp
  hostname: testrun.org
  port: 587
  socket: STARTTLS
website: https://testrun.org
last_checked: 2020-02
---
