.property {
    margin-right: 4pt;
    background-color: rgb(160, 160, 160);
    color: grey;
    font-size: 13pt;
    font-weight: bold;
}

.property > .value, .property > .key {
    padding: 2pt;
}
.property > .value {
    color: white;
    background-color: rgb(160, 160, 160);
}


.status-good {
 color: green;
 border-left: 10pt solid green;
}

.status-broken {
 color: darkred;
 border-left: 10pt solid red;
 box-sizing: border-box;
}

blockquote > p {
    border-left: 10px solid #ccc;
    background-color: beige
}

td {
    padding-left: 6pt;
    padding-right: 5pt
}

#search {
    margin: 8pt
}

table{
    border-collapse: collapse;
}

th, td {
    border-right: 1pt solid darkgray;
}

thead {
    border-bottom: 2pt solid darkgray;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
    
}

td:last-child, th:last-child {
    border-right: none;
}