:root {
    --color-works: #008000;
    --color-prep: blue;
    --color-broken: rgb(160, 55, 55);
  }
.table {
    width: calc(100%-50pt);
    margin-bottom: 75px;
}
.status-ok {
  color: white;
  background: var(--color-works);
  padding-left: 5pt;
}

.status-prep {
  color: yellow;
  background: var(--color-prep);
  padding-left: 5pt;
  text-decoration: none;
}
a.status-prep :hover, a.title:link, a.title:visited, a.title:active{
color: yellow;
}

.status-broken {
color: white;
background: var(--color-broken);
padding-left: 5pt;
}

.status-minimal {
  box-shadow: none;
  padding-left: 0;
}

blockquote > p {
  border-left: 10px solid #ccc;
  background-color: beige
}

td {
  padding-left: 5pt;
  padding-right: 5pt;
  white-space: nowrap;
}

td:last-child {
  width: 99%;
}

#search {
  margin: 8pt
}

table{
  border-collapse: collapse;
  min-width: calc(100% - 50pt);
  margin: 10px;
  overflow-x: scroll;

}

th, td {
  border-right: 1pt solid darkgray;
}

thead {
  border-bottom: 2pt solid darkgray;
}


thead > tr:last-child {
  background-color: #f8f8f8
}

th {
  padding: 1pt 5px;
}

tbody > .strip {
  background-color: #f2f2f2;
}

td:last-child, th:last-child {
  border-right: none;
}

.search-box-container {
  margin: auto;
  width: 250pt;
}

#search {
  width: 100%;
}

.center {
  text-align: center;
}

.status {
  font-size:12pt;
  font-weight: bold;
}

.content{
  max-width: 1000pt;
  margin: auto;
  padding: 0 4pt;
}

.section {
  padding: 0 8pt;
}

.section > ul {
  padding-left: 18pt;
}

.highlight {
  display: inline-block;
  padding: 1pt;
}

.footer-text {
  padding: 1em;
}

body>div, body>p, body>h2 { margin: 1em; }

.filter {
    margin-left: 30px;
}
main {
    margin: 20px;
}


@media only screen and (min-width: 600px) {
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    color: white;
    text-align: center;
  }
  .footer-text {
    margin-bottom: 0px;
    color: black;
  }
    main {
        width: 45%;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 15px;
    }
    .table {
        width: 55%;
        margin-left: 45%;
    }
  .status-ok {
      color: white;
      background: var(--color-works);
      padding-left: 5pt;
  }
  
  .status-prep {
      background: var(--color-prep);
      padding-left: 5pt;
      text-decoration: none;
  }
  a.status-prep :hover, a.title:link, a.title:visited, a.title:active{
    text-decoration: none;
    color: yellow;
  }
  
  .status-broken {
   color: white;
   background: var(--color-broken);
   padding-left: 5pt;
  }
  
  .status-minimal {
      box-shadow: none;
      padding-left: 0;
  }
  
  blockquote > p {
      border-left: 10px solid #ccc;
      background-color: beige
  }
  
  td {
      padding-left: 6pt;
      padding-right: 5pt;
  }
  
  #search {
      margin: 8pt
  }
  
  table{
      border-collapse: collapse;
      min-width: calc(100% - 40pt);
      margin: 20pt

  }
  
  th, td {
      border-right: 1pt solid darkgray;
  }
  
  thead {
      border-bottom: 2pt solid darkgray;
  }
  
  
  thead > tr:last-child {
      background-color: #f8f8f8
  }
  
  th {
      padding: 1pt 5px;
  }
  
  tbody > .strip {
      background-color: #f2f2f2;
  }
  
  td:last-child, th:last-child {
      border-right: none;
  }
  
  .search-box-container {
      margin: auto;
      width: 250pt;
      float: initial;
  }
  
  #search {
      width: 100%;
  }
  
  .center {
      text-align: center;
  }
  
  .status {
      font-size:12pt;
      font-weight: bold;
  }
  
  .content{
      max-width: 1000pt;
      margin: auto;
      padding: 0 4pt;
  }
  
  .section {
      padding: 0 8pt;
  }
  
  .section > ul {
      padding-left: 18pt;
  }
  
  .highlight {
      display: inline-block;
      padding: 1pt;
  }
  .filter {
    text-align: right;
    float: right;
    margin-top: -35px;
    margin-right: 2.5%;
  }
  h2 {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  
  body>div, body>p, body>h2 { margin: 1em; }
}
@media only screen and (max-width: 1300px) {
    .filter {
        margin-top: 0px;
      }
}
@media only screen and (max-width: 860px) {
    main {
        width: 90%;
    }
    .table {
        width: 100%;
        margin-left: 0px;
    }
}

.explanation-text {
    width: 75%;
    margin-right: 5em;
    margin-left: auto;
}
