:root {
    --color-works: #008000;
    --color-prep: blue;
    --color-broken: rgb(160, 55, 55);
  }
.table {
    width: 100%;
}
.status-ok {
  color: var(--color-works);
  box-shadow: inset 10pt 0px 0px 0px var(--color-works);
  padding-left: 15pt;
}

.status-prep {
  color: var(--color-prep);
  box-shadow: inset 10pt 0px 0px 0px var(--color-prep);
  padding-left: 15pt;
  text-decoration: none;
}
a.status-prep :hover, a.title:link, a.title:visited, a.title:active{
color: yellow;
}

.status-broken {
color: var(--color-broken);
box-shadow: inset 10pt 0px 0px 0px var(--color-broken);
padding-left: 15pt;
}

.status-minimal {
  box-shadow: none;
  padding-left: 0;
}

blockquote > p {
  border-left: 10px solid #ccc;
  background-color: beige
}

td {
  padding-left: 6pt;
  padding-right: 5pt;
}

#search {
  margin: 8pt
}

table{
  border-collapse: collapse;
  min-width: calc(100% - 40pt);
  margin: 20pt

}

th, td {
  border-right: 1pt solid darkgray;
}

thead {
  border-bottom: 2pt solid darkgray;
}


thead > tr:last-child {
  background-color: #f8f8f8
}

th {
  padding: 1pt 5px;
}

tbody > .strip {
  background-color: #f2f2f2;
}

td:last-child, th:last-child {
  border-right: none;
}

.search-box-container {
  margin: auto;
  width: 250pt;
}

#search {
  width: 100%;
}

.center {
  text-align: center;
}

.status {
  font-size:12pt;
  font-weight: bold;
}

.content{
  max-width: 1000pt;
  margin: auto;
  padding: 0 4pt;
}

.section {
  padding: 0 8pt;
}

.section > ul {
  padding-left: 18pt;
}

.highlight {
  display: inline-block;
  padding: 1pt;
}

body>div, body>p, body>h2 { margin: 1em; }


@media only screen and (min-width: 600px) {
    main {
        width: 45%;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
    }
    .table {
        width: 45%;
        margin-left: 50%;
    }
  .status-ok {
      color: var(--color-works);
      box-shadow: inset 10pt 0px 0px 0px var(--color-works);
      padding-left: 15pt;
  }
  
  .status-prep {
      color: var(--color-prep);
      box-shadow: inset 10pt 0px 0px 0px var(--color-prep);
      padding-left: 15pt;
      text-decoration: none;
  }
  a.status-prep :hover, a.title:link, a.title:visited, a.title:active{
    color: yellow;
  }
  
  .status-broken {
   color: var(--color-broken);
   box-shadow: inset 10pt 0px 0px 0px var(--color-broken);
   padding-left: 15pt;
  }
  
  .status-minimal {
      box-shadow: none;
      padding-left: 0;
  }
  
  blockquote > p {
      border-left: 10px solid #ccc;
      background-color: beige
  }
  
  td {
      padding-left: 6pt;
      padding-right: 5pt;
  }
  
  #search {
      margin: 8pt
  }
  
  table{
      border-collapse: collapse;
      min-width: calc(100% - 40pt);
      margin: 20pt

  }
  
  th, td {
      border-right: 1pt solid darkgray;
  }
  
  thead {
      border-bottom: 2pt solid darkgray;
  }
  
  
  thead > tr:last-child {
      background-color: #f8f8f8
  }
  
  th {
      padding: 1pt 5px;
  }
  
  tbody > .strip {
      background-color: #f2f2f2;
  }
  
  td:last-child, th:last-child {
      border-right: none;
  }
  
  .search-box-container {
      margin: auto;
      width: 250pt;
  }
  
  #search {
      width: 100%;
  }
  
  .center {
      text-align: center;
  }
  
  .status {
      font-size:12pt;
      font-weight: bold;
  }
  
  .content{
      max-width: 1000pt;
      margin: auto;
      padding: 0 4pt;
  }
  
  .section {
      padding: 0 8pt;
  }
  
  .section > ul {
      padding-left: 18pt;
  }
  
  .highlight {
      display: inline-block;
      padding: 1pt;
  }
  
  body>div, body>p, body>h2 { margin: 1em; }
}