---

---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>{{ page.name }} - Provider Overview</title>
</head>

<body>
    <div class="content">
        <a href="/">&lt;Back to Overview</a><br>
        <h1>{{ page.name }}</h1>
        {{ page.domains }} <!-- Can be array -->
        {{ page.credentials }}
        <span class="property">
            <span class="key"></span>
            <span class="value"></span>  
        </span>
        <span class="property" title="If it's working">
            <span class="key">Status
    
            </span>
            <span class="value status-{{ page.status.state }}">
                {% case page.status.state %}
                {% when 'OK' %}
                OK
                {% when 'PREP' %}
                <a href="#preperations">PREPARATION</a> NEEDED
                {% when 'BROKEN' %}
                NOT WORKING
                {% endcase %}
                on {{ page.status.date }}
            </span>
        </span>
        Limits: {{ page.limits }}
        Registration: {{ page.registration }}
    
        {{ content }}
    
        <a href="https://github.com/deltachat/provider-overview/blob/master/{{page.path}}">Edit This Page on Github</a>
    </div>
</body>

</html>